*{
    box-sizing: border-box;
}
.top-menu {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.search-input {
    height: 36px;
    width: 340px;
    max-width: 300px;
    min-width: 200px;
    border: 1px solid #000;
    border-radius: 25px;
    padding: 0 15px;
    font-size: 16px;
}

@media (max-width:780px) {
    .search-input {
        max-width: 150px;
    }

}