.movie {
    position: relative;
    margin: 1rem;
    width: 100%;
}

.movie-preview-poster {
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 3 / 4.4;
    cursor: pointer;
}
.movie-title {
    width: 100%;
    font-weight: 500;
    padding-top: 7px;
}

.movie-genre {
    font-weight: 300;
    padding-top: 7px;
    color: rgb(70, 70, 70);
    width: 100%;
}
.movie-rating {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background-color: brown;
    padding: 10px;
    opacity: 70%;
    width: 40px;
    height: 40px;
}
.movies-conteiner {


    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 270px));
    gap: 20px;
    margin: 2rem;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.skeleton {
    width: 100%;
    height: 100%;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {

    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }


}

.skeleton-text {
    width: 100%;
    margin-bottom: 5px;
    height: 1rem;
    margin-top: 7px;
    border-radius: 3px;
}

.skeleton-text:last-child {
    width: 60%;
}