*{
    box-sizing: border-box;
}

.modal {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    z-index: 4000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    
}

.show {
    display: block;
}
.hide {
    display: none;
}

.modal-window {
    max-width: 80%;
    min-height: 90%;
    margin: 65px auto;
    background-color: rgba(255, 255, 255, 1);
    padding: 40px;
    box-sizing: border-box;
    overflow: auto;
    position: relative;
}
.modal_image {
    
    width: 360px;
    height: 540px;
    background-repeat: no-repeat;
    background-size: contain;
}

.modal-movie-conteiner {
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}
.modal_movie-info {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.modal_title {
    font-size: 32px;
    font-weight: 600;
}
.modal-close-button {
    font-size: 60px;
    background-color: transparent;
    color: #292019;
    border: none;
    text-align: right;
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: 40px;
}



.modal-close-button:hover {
        opacity: .7;
        cursor: pointer;
}

@media (min-width: 960px) {
    .modal-movie-conteiner {
        flex-wrap: nowrap;
    }
    .modal_movie-info {
        flex-basis: 50%;
        
    }

}